<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WAY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F93CCAF1E2525C300400E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F93CCC31E2525C400400E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F93CCCE1E2525C400400E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
